<% include ../includes/header %>
<% include ../includes/nav %>
<section class="section">
	<div class="container is-fluid">
		<h2 class="title is-2">Add Produtos</h2>
		<form method="" action="">
			<div class="field">
				<label for="nome" class="label" >Nome</label>
				<input class="input" type="text" name="nome" id="nome"/>
			</div>
			<div class="field">
				<label for="qtd" class="label">Quantidade</label>
				<input class="input" type="number" name="qtd" id="qtd" />
			</div>
			<div>
				<input class="button is-primary" type="submit" name="envia" value="Cadastrar" />
			</div>
		</form>
	</div>
</section>
<% include ../includes/footer %>