<% include ../includes/header %>
<% include ../includes/nav %>
<section class="section">
	<div class="container is-fluid">
		<h2 class="title is-2">Produtos</h2>
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th><abbr title="Id">Id</abbr></th>
					<th><abbr title="Nome">Nome</abbr></th>
					<th><abbr title="Descrição">Descrição</abbr></th>
					<th><abbr title="Ação">Ação</abbr></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < produtos.length; i++){ %>
				<tr>
					<th><%= produtos[i].id_produtos %></th>
					<td><%= produtos[i].nome %></td>
					<td><%= produtos[i].descricao %></td>
					<td><a class="delete is-medium"></a></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</section>
<% include ../includes/footer %>